:root {
    --Border_alpha: 1px solid rgba(0, 0, 0, 0.2);
    --Color_web: #e7ab3c;
    --Color_bla: black;
    --Color_Whi: white;
    --Font-Web:"Muli", sans-serif;
    --Font-Weight:700;
}

* {
    padding: 0;
    margin: 0;
   
}

body {
    width: 100%;
}

header {
    width: 100%;
    font-family: var(--Font-Web);
}

.Nav__Contact {
    width: 100%;
}

.Nav__Contact-Table {
    width: 100%;
    border: var(--Border_alpha);
    border-collapse: collapse;
}

.Nav__Contact-Table a {

    color: var(--Color_bla);
}

.Nav__Contact-Table tr td {
    border-right: var(--Border_alpha);
    padding: 15px;
    font-size: 14px;
}

.Nav__Contact-Email {
    width: 30%;
    text-align: end;
    font-weight: var(--Font-Weight);
    padding-right: 20px;
}

.Nav__Contact-Hot-Lo {

    display: flex;
    justify-content: space-between;
}

.Hotline {
    font-weight: var(--Font-Weight);
}

.Login {}

.Nav__Contact-Register {}

.Nav__Search {
    width: 77%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

.Nav__Search h1 {
    float: left;
    padding-bottom: 12px;
}

.Search {
    width: 84%;
    height: 50px;
    border-right: 0 !important;
    border: var(--Border_alpha);
}

.Search-Div {
    width: 74%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.Btn-Search {
    width: 14%;
    border: 0;
    padding: 18px 10px 18px 10px;
    background-color: var(--Color_web);
    color: var(--Color_Whi);
    font-weight: 600;
}

.Nav__Search h3 {
    font-weight: 100;
}

.Nav__Search h3 b {
    background-color: var(--Color_web);
    width: 50px;
    border-radius: 50%;
}

.Cart {
    width: 6%;

}

.Number-Item {
    text-align: center;
    width: 28%;
    padding: 3px 3px 3px 3px;
    float: right;
    font-size: 15px;
    background-color: var(--Color_web);
    border-radius: 50%;
    color: var(--Color_Whi);
}

.Nav__Menu {
    width: 100%;
    height: 50px;
    background-color: var(--Color_bla);
    display: flex;

}

.Nav__Menu-Item {
    width: 50%;
    margin: auto;
    display: flex;
    justify-items: center;
}

.Nav__Menu-Item li {

    display: inline;
    text-align: center;



}

.Nav__Menu-Item li a {

    text-decoration: none;
    color: var(--Color_Whi);
    font-weight: var(--Font-Weight);
    padding: 17px 25px;
    border-right: 1px solid white;

}

.Nav__Menu-Item li a:hover {
    background-color: var(--Color_web);
}

.Banner-Head {
    font-family: var(--Font-Web);
    position: relative;
    height: 700px;
    background-image: url(./BaiTap_202200620/img.png);
}

.Banner-Head-Content {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 15%;
}

.Banner-Head-Content-One {
    color: var(--Color_web);
    font-size: 20px;
}

.Banner-Head-Content-Two {
    padding: 20px 0;
    font-size: 60px;
}

.Btn-ShopNow {
    width: 16%;
    border: 0;
    margin-top: 30px;
    padding: 18px 18px 18px 18px;
    background-color: var(--Color_web);
    color: var(--Color_Whi);
    font-weight: 600;
    font-size: 14px;
}

.BannerIMG{
    font-family: var(--Font-Web);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.BannerIMG-Item{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 30%;
}
.BannerIMG-Item img{
    width: 100%;
}
.BannerIMG-Item-Content{
    text-align: center;
    
    font-size: 40px;
    top: 50%;
    padding: 10px 15px 10px 15px ;
    position: absolute;
    font-weight: var(--Font-Weight);
    background-color: var(--Color_Whi);
}
.Product{
    font-family: 'Courier New', Courier, monospace !important;
}
.Product-Title{
    font-size: 40px;
    text-align: center;
    border-top: 1px dashed lightgrey;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    padding-top: 20px;
}
.Product-Group{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.Product-Item{
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.Product-Item-Img{
    

    
}
.Product-Item-Sale{
    width: 80px;
    left: 8%;
    top:9%;
    text-align: center;
    background-color: green;
    position: absolute;
    color: var(--Color_Whi);
    font-weight: var(--Font-Weight);
    padding: 7px 0 7px 0;
}
.Product-Item-Type{
    color: gray;
    font-weight: var(--Font-Weight);
    padding-top: 10px;
}
.Product-Item-Title{
    font-weight:var(--Font-Weight);
    font-size: 20px;
    padding-top: 10px;
}
.Product-Item-Price{
    font-weight: var(--Font-Weight);
    padding-top: 10px;
    font-size: 16px;
    color: #e7ab3c;
}

footer{
    font-family: var(--Font-Web);
    color: var(--Color_web);
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 15px;
}

.Footer-Item{
    width: 77%;
    margin: auto;
}
.Footer-Item span{
    margin-left: -80px;
}